<div style="margin-left: 100px;">
    <button (click)="one()">Grid Short </button>
    <button (click)="two()">Grid visible</button>
    <app-account-grid #grid [dataSourceService]="data" [columns]=" gridCols" [enableStickyHeader]="true"
        [allowSorting]='true' [pageSettings]="pageSettings" [allowSelection]="true"
        [isShowSkeleton]="isShowSkeleton" [selectionSettings]="selectionSettings"
        [sortSettings]="sortSettings" [enableInfiniteScrolling]="true" height='800px'
        [isDesktopMode]="false" width='100%' (onDataStateChange)="dataStateChange($event)">

        <ng-template aditGridDef="ShipVia" type="header">
            <span>OrderID</span>
        </ng-template>
        <ng-template aditGridDef="ShipVia" type="column" let-element>
            <span>bhautik</span>
        </ng-template>
    </app-account-grid>
<!-- <ejs-tab id="element">
    <e-tabitems>
        <e-tabitem>
            <ng-template #headerText>
                <div> Grid 1 </div>
            </ng-template>
            <ng-template #content>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div> Grid 2 </div>
            </ng-template>
            <ng-template #content>
             <h1>Hii</h1>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div> Grid 3 </div>
            </ng-template>
            <ng-template #content>
             <h1>hello</h1>
            </ng-template>
        </e-tabitem>
    </e-tabitems>
</ejs-tab> -->
</div>